





{% extends "base.html" %}
{% load static %}

{% block extra_head %}

    <title>Task Edit</title>
    <link href="{% static 'tasks/css/edit_task.css' %}" rel="stylesheet">
    

{% endblock %}


{% block content %}

    <h1>{% if task %}Edit Task{% else %}Create a New Task{% endif %}</h1>
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            
            <!-- Render Form Fields Using Django Form -->
            <label for="id_title">Task Title</label>
            {{ form.title }}  <!-- Renders input field and binds value if task exists -->

            <label for="id_description">Description</label>
            {{ form.description }}  <!-- Renders textarea and binds value if task exists -->

            <button type="submit">{% if task %}Update Task{% else %}Create Task{% endif %}</button>
        </form>
    </div>

{% endblock %}